<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Listar Produtos</title>
</head>
<body>
    <h2>Lista de Produtos</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>

        {% for p in produtos %}
        <tr class="{% if p[4] < 5 %}baixo{% endif %}">
            <td>{{ p[0] }}</td>
            <td>{{ p[1] }}</td>
            <td>{{ p[2] }}</td>
            <td>R$ {{ p[3] }}</td>
            <td>{{ p[4] }}</td>
            <td>
                <a href="/excluir/{{ p[0] }}" class="btn excluir">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/" class="btn">Voltar</a>
</body>
</html>
